@model Education.ViewModel.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
    string imgSrc = "https://bootdey.com/img/Content/avatar/avatar7.png";
    if (Model.image!=null)
    {
        // need to test
        string base64String = Convert.ToBase64String(Model.image);
        imgSrc = string.Format("data:image/bmp;base64,{0}", base64String);
    }
}

<div class="container" id="ProfileCard">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src=@imgSrc alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>@Model.Name</h4>
                                <p class="text-secondary mb-1">@Model.Role</p>
                                <p class="text-muted font-size-sm">@Model.Address</p>
                               
                                <a class="btn btn-outline-primary" asp-action="Edit" asp-controller="instructor" asp-route-id="@Model.Id">Edit</a>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                               @Model.Name
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Role</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Role
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                               @Model.Email
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                               @Model.Phone
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Age</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Age years old
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                               @Model.Address
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


